<div class="container-fuild ">
    <div class="row">
        <div class="col-12 bg-dark text-light d-flex justify-content-center custom-font-size p-2">
          <div class="row">
            <div class="col-sm-12 col-md-11 top-header">Sign up get 20% off to your first order.<a  class="ms-1 text-light"  href="" >Sign Up Now</a> </div> 
            <div class="col-md-1 hidden-cross"><a href=""><img src="assets/icons/cross.png" alt="" height="15rem"></a></div>
          </div>
        </div>
        <div class="col-11 main-navbar container"> 
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="assets/icons/companylogo.png" alt="logo" height="23rem">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">On Sale</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link">New Arrivals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Brand</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <div class="search-container">
                      <button class="btn" type="submit"><img src="assets/icons/Search.png" alt="Search Icon" height="20rem" class="ps-2"></button>
                      <input class="form-control me-2 searchbar" type="search" placeholder="Search for products..." aria-label="Search">
                  </div>
              </form>
              <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="assets/icons/shopping-cart.png" alt=""></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="assets/icons/userAccountIcon.png" alt=""></a>
                </li>
              </ul>
              </div>
            </div>
          </nav>
                <!-- <nav class="navbar navbar-expand-md custom-navbar ">
                
                      <button class="navbar-toggler ms-0"
                      type="button" data-bs-toggle="collapse" 
                      data-bs-target="#navbarSupportedContent" 
                      aria-controls="navbarSupportedContent" 
                      aria-expanded="false" 
                      aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                     </button>
                    <a class="navbar-brand  logo" href="#">
                      <img src="assets/icons/companylogo.png" alt="logo" height="23rem"></a>
                   
                    <div class="collapse navbar-collapse navbar-items mx-5 " id="navbarSupportedContent">
                      <ul class="navbar-nav  mb-2 mb-lg-0">
                          <li class="nav-item dropdown ">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Shop 
                              </a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" href="Shop1">Shop1</a></li>
                                <li><a class="dropdown-item text-dark" href="Shop2">Shop2</a></li>
                                <li><a class="dropdown-item text-dark" href="Shop3">Shop3</a></li>
                              </ul>
                            </li>
                        <li class="nav-item ">
                          <a class="nav-link active text-dark" aria-current="page" href="Sale">On Sale</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link text-dark" href="New Arrivals">New Arrivals</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link text-dark" href="Brands">Brands</a>
                        </li>
                        
                      </ul>
                      <ul class="search">
                        <li class="nav-item">
                          <form class="d-flex" role="search">
                            <div class="search-container">
                                <button class="btn" type="submit"><img src="assets/icons/Search.png" alt="Search Icon" height="20rem" class="ps-2"></button>
                                <input class="form-control me-2 searchbar" type="search" placeholder="Search for products..." aria-label="Search">
                            </div>
                        </form>
                          
                        </li>
                       
                      </ul>
                      <ul class="actions d-flex">
                        <li class="nav-item ">
                          <a class="nav-link" href="#"><img src="assets/icons/shopping-cart.png" alt=""></a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="#"><img src="assets/icons/userAccountIcon.png" alt=""></a>
                        </li>
                      </ul>
                     
                    </div>
                  
                </nav> -->
        
        </div> 
    </div>
</div>