<div class="container-fuild mt-0  ">
    <div class="row ">
        <div class="col-md-6 col-lg-6 col-sm-12 main-poster">
            <div class=" mt-3 mb-3">
                <div class="text ">FIND CLOTHES  THAT <br>MATCHES  YOUR STYLE</div>

            </div>
            <div class=" text-secondary mb-3 text-start poster-text">
                Browse through our diverse range of meticulously crafted garments, designed  <br>  to bring out your individuality and cater to your sense of style.
            </div>
            <div class=" mb-5">
                <button class=" btn btn-dark  fw-bold">Shop Now</button>
            </div>
            
            <div class="container custom-rang">
                <div class="row d-flex">
                  <div class="  col-lg-4 col-md-6 col-sm-6  col-6 ">
                    <h2>200+</h2>
                    <p class="text-secondary">International Brands</p>
                  </div>
                  <div class=" col-lg-4 col-md-6 col-sm-6 col-6 ">
                    <h2>2,000+</h2>
                    <p class="text-secondary">High-Quality Products</p>
                  </div>
                  <div class=" col-lg-4 col-md-12 col-sm-12 col-6 ">
                    <h2>30,000+</h2>
                    <p class="text-secondary">Happy Customers</p>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-1 d-flex image-container">
            <!-- <img src="assets/icons/smallvector.png" alt="vector" height="25rem"> -->
            <img class="poster-img " src="assets/Images/PosterImg.png" alt="">
            <!-- <img class="vector-img" src="assets/icons/bigvector.png" alt="vector" height="60rem" > -->

        </div>
    </div>
    <div class="row  companies bg-dark  d-flex ">
        
            <div class=" col-lg-3  col-xs-3 py-3 ps-lg-5"><a href="Versace" ><img src="assets/icons/VERSACE.png" alt="VERSACE"   width="150vw"  height="35vh" ></a></div>
            <div class=" col-lg-2  col-xs-3 py-3"> <a href="Zara" ><img src="assets/icons/ZARA.png" alt="ZARA" width="140vw" height="37vh" ></a></div>
            <div class=" col-lg-2 col-xs-2 py-3"> <a href="Gucci" ><img src="assets/icons/GICCI.png" alt="GUCCI" width="150vw" height="37vh" ></a></div>
            <div class=" col-lg-2 col-xs-2  py-3 "><a href="Prada" > <img src="assets/icons/PRADA.png" alt="PRADA" width="150vw" height="37vh" ></a></div>
            <div class=" col-lg-3 col-xs-3  py-3"><a href="Calvinkin" ><img  classs="last-img" src="assets/icons/CALINKLEIN.png" alt="CALVINKIN" width="154vw" height="35vh"></a> </div>
          <!-- <ul class="">
            <li class=" "></li>
            <li class="ms-5 me-5"></li>
            <li class=" ms-5 me-5"></li>
            <li class=" ms-5 me-5"></li>
            <li class=" ms-5 me-5"></li>
          </ul> -->
       
    </div>
</div>
