<div class="containter ">
    <div class="row">
        <div class="col-lg-3 col-md-3  ps-5">Filters</div>
        <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12  cloth-type"><h1>Casual</h1></div>
          <div class="col-lg-9 col-md-9 col-sm-12 sorting-text text-secondary">Showing 1-10 of 100 products Sort by : <span>
            <div class="dropdown">
              <button class="dropbtn text-dark">Most Popular <span><img src="assets/icons/downarrow24.png" alt=""></span>
                 </button>
              <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
              </div>
          </div>
          </span></div>
        </div>
          <div class="row">
            <div class="col-12">
              <app-productcards [products]="products"></app-productcards>
            </div>
          </div>
          <div class="row">
            <div class="container mt-3">
              <div class="row">
                  <div class="col-12">
                      <div class="pagination-container">
                          <nav aria-label="Page navigation example">
                              <ul class="pagination">
                                  <li class="page-item disabled">
                                      <a class="page-link" href="#" tabindex="-1">
                                          <img src="assets/icons/leftarrow.png" alt="left arrow" width="15rem"> Previous
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                          <nav aria-label="Page navigation example" class="center-pagination">
                              <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                              </ul>
                          </nav>
                          <nav aria-label="Page navigation example">
                              <ul class="pagination">
                                  <li class="page-item pe-3">
                                      <a class="page-link" href="#">
                                          Next <img src="assets/icons/rightarrow.png" alt="right arrow" width="15rem">
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      
      
          </div>
        </div>
   
    </div>
</div>
