<div class="containter ">
    <div class="row  ">
        <div class="col-lg-3 col-md-3  p-3 ms-5 filter-container">
          <div class="d-flex justify-content-between">
            Filters
            <img src="../../assets/icons/filter.png" alt="" height="20rem">
          </div>
          <hr>
         <div class="categories">
          <div class="category d-flex justify-content-between">
            T-Shirts 
            <img src="../../assets/icons/rightArrow.png" alt="" height="20rem">
          </div>
          <div class="category d-flex justify-content-between">
            Shorts 
            <img src="../../assets/icons/rightArrow.png" alt="" height="20rem">
          </div>
          <div class="category d-flex justify-content-between">
            Shirts 
            <img src="../../assets/icons/rightArrow.png" alt="" height="20rem">
          </div>
          <div class="category d-flex justify-content-between">
            Hoodie 
            <img src="../../assets/icons/rightArrow.png" alt="" height="20rem">
          </div>
          <div class="category d-flex justify-content-between">
            Jeans
            <img src="../../assets/icons/rightArrow.png" alt="" height="20rem">
          </div>
         </div>
         <div class="price">
          <div class="priceHeading">
            Price
            
          </div>
         
         </div>
         <div class="color">
          <div class="colorHeading">Colors</div>
         </div>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-2"><h1>Casual</h1></div>
            <div class="col-10 d-flex justify-content-end ">Showing 1-10 of 100 Product Sort by: <span>Most Popular</span></div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-productcards></app-productcards>
            </div>
          </div>
        </div>
    </div>
</div>
