<footer>
    <div class="top_footer">
        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <h2 class="footerHeading">Stay Up to Date About our Latest Offer</h2>
            </div>
            <div class="col-md-4 col-md-5 col-sm-12">
                <div class="input d-flex justify-content-start align-items-center">
                    <img src="../../assets/email.png" alt="" srcset="" class="me-2">
                    <input type="email" name="" id="" class="newsletterInput" placeholder="Enter your email address">
                </div>
                <div class="btn">Subscribe to newsletter</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row justify-content-evenly">
            <div class="description col-md-3 col-xs-12">
                <div class="top-desc">
                    <img src="../../assets/logo.png" alt="" height="23rem" class="mb-3">
                    <div class="desc">We have clothes that suit your style and which you’re proud to wear. From women to men.</div>
                </div>
                <div class="social-media">
                    <span class="twitter"></span>
                    <span class="facebook"></span>
                    <span class="instagram"></span>
                    <span class="github"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="company col-6">
                        <h4>COMPANY</h4>
                        <h6>About</h6>
                        <h6>Features</h6>
                        <h6>Works</h6>
                        <h6>Career</h6>
                    </div>
                    <div class="help col-6">
                        <h4>HELP</h4>
                        <h6>Customer Support</h6>
                        <h6>Delivery details</h6>
                        <h6>Terms & condition</h6>
                        <h6>Privacy Policy</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-6 faq">
                        <h4>FAQ</h4>
                        <h6>Account</h6>
                        <h6>Manage delivers</h6>
                        <h6>Orders</h6>
                        <h6>Payments</h6>
                    </div>
                    <div class="col-6 resource">
                        <h4>RESOURCES</h4>
                        <h6>Free eBooks</h6>
                        <h6>Developer Tutorial</h6>
                        <h6>How to -Blog</h6>
                        <h6>Youtube playlist</h6>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="bottom row justify-content-around align-items-center">
            <div class="copyright col-md-5 col-sm-12">
                <p>Shop.co © 2000-2023, All Rights Reserved</p>
            </div>
            <div class="payments_icon col-md-5 col-sm-12">
                <img src="../../assets/visa.png" alt="">
                <img src="../../assets/mastercard.png" alt="">
                <img src="../../assets/paypal.png" alt="">
                <img src="../../assets/ipay.png" alt="">
                <img src="../../assets/googlepay.png" alt="">
            </div>
        </div>
    </div>
</footer>
