<div class="container pb-5">
  <div class="row ">
    <div class="col-lg-12">
      <div class="heading mb-4 d-flex justify-content-between align-items-center">
        <h1>Our Happy Customer</h1>
        <div class="carousel-handlers">
          <img src="../../assets/prevarrow.png" alt="" height="20rem" class="me-2 prev-btn" type="button">
          <img src="../../assets/nextarrow.png" alt="" height="20rem" type="button" class="next-btn">
        </div>
      </div>
    </div>
    <swiper-container  slides-per-view="3" speed="500" loop="true" space-between="30" css-mode="true">
      <swiper-slide>
        <div class="card">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card ">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card ">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card ">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="card-body">
            <div class="rating d-flex">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
              <img src="../../assets/star.png" alt="" height="25rem">
            </div>
            <div class="heading">Sarah M.</div>
            <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”</p>
          </div>
        </div>
      </swiper-slide>
  
  
    </swiper-container>
    
  </div>
</div>