<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <div class="heading">ONE LINE GRAPHIC T-SHIRT</div>
        <div class="rating d-flex pb-3">
          <img src="../../assets/star.png" alt="" srcset="" style="height: 20px;">
          <img src="../../assets/star.png" alt="" srcset="" style="height: 20px;">
          <img src="../../assets/star.png" alt="" srcset="" style="height: 20px;">
          <img src="../../assets/star.png" alt="" srcset="" style="height: 20px;">
          <img src="../../assets/star.png" alt="" srcset="" style="height: 20px;">

        </div>
        <div class="prices d-flex">
             <h4 class="me-3">$260</h4>
             <h4 class="me-3">$300</h4>
             <span class="discount">-40%</span>
        </div>
        <p>This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable fabric, it offers superior comfort and style.</p>
        <div class="color">
            <h3>Select Color</h3>
            <div class="d-flex">
                <span style="height: 10px; width: 10px; background-color: red; border-radius: 50%;"></span>
                <span style="height: 10px; width: 10px; background-color: red; border-radius: 50%;"></span>
                <span style="height: 10px; width: 10px; background-color: red; border-radius: 50%;"></span>
            </div>
        </div>
    </div>
</div>