 <!-- <app-header></app-header> -->
<!-- <app-poster></app-poster> -->
<!-- <app-cards></app-cards> -->
<!-- <app-browse-style></app-browse-style> -->
<!-- <app-customer></app-customer> -->
<!-- <app-header></app-header> -->
 <!-- <app-poster></app-poster>  -->
 <!-- <app-cards></app-cards> -->
<!-- <app-customer></app-customer>  -->
<!-- <app-allproduct></app-allproduct> -->
<!-- <product-detail></product-detail> -->
 <app-homepage></app-homepage>
<!-- <app-footer></app-footer> -->
<router-outlet /> 

