<div class="container p-5 browse-cont my-5">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="heading">BROWSE BY DRESS STYLE</h3>
        </div>
        <div class="col-lg-5">
            <img src="../../assets/Images/casual.png" alt="" class="img-fluid fit-image">
                 <h4 class="position-absolute card-title">Casual</h4>
                
          
        </div>
        <div class="col-lg-6">
           
                <img src="../../assets/Images/formal.png" alt="" class="img-fluid fit-image">
                <h4 class="position-absolute card-title">Formal</h4>
          
        </div>
        <div class="col-lg-6">
            
                <img src="../../assets/Images/party.png" alt="" class="img-fluid fit-image">
                <h4 class="position-absolute card-title">Party</h4>
          
        </div>
        <div class="col-lg-5">
            
                <img src="../../assets/Images/gym.png" alt="" class="img-fluid fit-image">
                <h4 class="position-absolute card-title">Gym</h4>
          
        </div>
    </div>
</div>